@font-face {
  font-family: "Pokemon Solid";
  src: url("./fonts/Pokemon Solid.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #f5f5f5;
}

body,
input,
button {
  font-family: "Pokemon Solid", sans-serif;
}
